<p class="lead">
    Remplis les champs ci-dessous. Ils sont requis par la FSGT pour la création d'une licence.
</p>

{{ form_start(profile_form, {'method': 'post', 'action': path('homepage')}) }}

<div class="row form-group">
    <div class="col">
        {{ form_label(profile_form.first_name)}}
        {{ form_errors(profile_form.first_name)}}
        {{ form_widget(profile_form.first_name)}}
    </div>
    <div class="col">
        {{ form_label(profile_form.last_name)}}
        {{ form_errors(profile_form.last_name)}}
        {{ form_widget(profile_form.last_name)}}
    </div>
</div>

<div class="row form-group">
    <div class="col">
        {{ form_label (profile_form.birthday)}}
        {{ form_errors(profile_form.birthday)}}
        {{ form_widget(profile_form.birthday)}}
    </div>
    <div class="col">
        {{ form_label (profile_form.gender)}}
        {{ form_errors(profile_form.gender)}}
        {{ form_widget(profile_form.gender)}}
    </div>
    <div class="col">
        {{ form_label (profile_form.phone_number)}}
        {{ form_errors(profile_form.phone_number)}}
        {{ form_widget(profile_form.phone_number)}}
    </div>
</div>

<div class="row form-group">
    <div class="col-6">
        {{ form_label (profile_form.address)}}
        {{ form_errors(profile_form.address)}}
        {{ form_widget(profile_form.address)}}
    </div>
    <div class="col-4">
        {{ form_label (profile_form.city)}}
        {{ form_errors(profile_form.city)}}
        {{ form_widget(profile_form.city)}}
    </div>
    <div class="col-2">
        {{ form_label (profile_form.zip_code)}}
        {{ form_errors(profile_form.zip_code)}}
        {{ form_widget(profile_form.zip_code)}}
    </div>
</div>

{{ form_rest(profile_form) }}

<div>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enregistrer" />
</div>

{{ form_end(profile_form) }}
