<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FSGT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    </head>
    <body>
      {% block body %}{% endblock %}
      {% block javascripts %}
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        {% if use_live_stripe %}
        var stripe = Stripe('{{stripe_pk_live}}');
        {% else %}
        var stripe = Stripe('{{stripe_pk_test}}');
        {% endif %}
      </script>
      <script src="{{ asset('build/app.js') }}"></script>
      {% endblock %}
    </body>
</html>
