{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">

        <h3>Salut{{' ' ~user.first_name}},</h3>
        
        {% if user.status == 'member' %}
            <h1 class="display-4">Tu es membre des Trois Mousquetons. Bonne grimpe !</h1>
        {% else %}
            <p class="lead">Voici le status de ton inscription:</p>
            
            <div class="card text-center">

                <div class="card-block">

                    <h4 class="card-title">{{user.status|trans}}</h4>
                    
                    {% if user.status == 'new' %}   
                        {% include 'status/new.html.twig' %}
                    {% elseif user.status == 'in_lottery' %}
                        <p>Tu sera averti(e) par mail quand nous aurons les résultats.</p>
                    {% elseif user.status == 'waiting_for_documents' %}
                        {% include 'status/waiting_for_documents.html.twig' %}
                    {% elseif user.status == 'in_waiting_list' %}
                        <p>Tu es dans notre liste d'attente et tu recevra un mail au prochaines inscriptions</p>
                    {% elseif user.status == 'waiting_skill_check' %}
                        <p>
                            Ton paiement a été validé. Tu y es presque !
                            Un membre du club doit maintenant effectuer ta formation ou valider ton autonomie.
                            Une fois validé(e) tu sera officiellement membre des Trois Mousquetons !
                        </p>
                    {% endif %}

                </div> <!-- card-block -->
            </div> <!-- card -->
        {% endif %}
        
    </div> <!-- jumbo -->


    <div class="progress">
        <div class="progress-bar bg-info progress-status">inscrits à la newsletter<div class="status-count">{{repartition['new']}}</div></div>
        <div class="progress-bar bg-primary progress-status">inscrits au tirage au sort<div class="status-count">{{repartition['in_lottery']}}</div></div>
        <div class="progress-bar bg-warning progress-status">en attente de paiement + certificat<div class="status-count">{{repartition['waiting_for_documents']}}</div></div>
        <div class="progress-bar bg-danger progress-status">en attente de validation<div class="status-count">{{repartition['waiting_skill_check']}}</div></div>
        <div class="progress-bar bg-success progress-status">membres<div class="status-count">{{repartition['member']}}</div></div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="alert" style="margin-top:50px">
            {% for status in ['new', 'in_lottery', 'in_waiting_list', 'waiting_for_documents', 'waiting_skill_check', 'member'] %}
                <a href="{{ path('change_status', {'status': status}) }}" class="btn btn-secondary">{{status}}</a>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}
