{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">

        <h3>Salut{{' ' ~user.first_name}},</h3>
        
        {% if user.status == 'member' %}
            <h1 class="display-4">Tu es membre des Trois Mousquetons. Bonne grimpe !</h1>
        {% else %}
            <p class="lead">Voici le status de ton inscription:</p>
            
            <div class="card text-center">

                <div class="card-block">

                    <h4 class="card-title">{{user.status|trans}}</h4>
                    
                    {% if user.status == 'new' %}   
                        {% include 'status/new.html.twig' %}
                    {% elseif user.status == 'in_lottery' %}
                        <p>Tu sera averti(e) par mail quand nous aurons les résultats.</p>
                    {% elseif user.status == 'waiting_for_documents' %}
                        {% include 'status/waiting_for_documents.html.twig' %}
                    {% elseif user.status == 'in_waiting_list' %}
                        <p>Tu es dans notre liste d'attente et tu recevra un mail au prochaines inscriptions</p>
                    {% elseif user.status == 'waiting_skill_check' %}
                        <p>
                            Ton paiement a été validé. Tu y es presque !
                            Un membre du club doit maintenant effectuer ta formation ou valider ton autonomie.
                            Une fois validé(e) tu sera officiellement membre des Trois Mousquetons !
                        </p>
                    {% endif %}

                </div> <!-- card-block -->
            </div> <!-- card -->
        {% endif %}
        
    </div> <!-- jumbo -->

    {% if is_granted('ROLE_ADMIN') %}
        {% for status in ['new', 'in_lottery', 'in_waiting_list', 'waiting_for_documents', 'waiting_skill_check', 'member'] %}
            <a href="{{ path('change_status', {'status': status}) }}" class="btn btn-secondary">{{status}}</a>
        {% endfor %}
    {% endif %}

    <div>
        <ul>
            {% for status, count in repartition %}
                <li>
                    <div>{{status|trans}}:</div>
                    <div>{{count}}</div>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
