{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pop" id="admin-container">

        <div style="float: left;" class="lead">
            <a href="{{path('homepage')}}"><h2>{{club.name}}</h2></a>
            <p>{{club.status|trans}}</p>
            <p>Il y a actuellement {{users_in_lottery}} personnes inscrites au tirage au sort.</p>
            <p>Lors du tirage au sort, {{club.maxWinners}} personnes seront sélectionnées.</p>
        </div>

        <ul style="float: right;" class="admin-nav">
            {% if club.status == 'lottery_closed' %}
                <li>
                    <a href="{{path('open_lottery', {id: club.id})}}"><i class="fa fa-send"></i> Ouvrir le tirage au sort</a>
                </li>
            {% endif %}
            {% if users_in_lottery > 0 %}
                <li>
                    <a href="{{path('test_lottery', {id: club.id})}}"><i class="fa fa-cog"></i> Tester le tirage au sort</a>
                </li>
            {% endif %}
            {% if lottery_ready %}
                <li>
                    <a href="{{path('finish_lottery', {id: club.id})}}"><i class="fa fa-rocket"></i> Valider le tirage au sort</a>
                </li>
            {% endif %}
            <li>
                <a href="{{path('re_registration', {id: club.id})}}"><i class="fa fa-refresh"></i> Lancer les réinscriptions</a>
            </li>
            <li>
                <a href="{{path('club_export', {id: club.id})}}" target="_blank"><i class="fa fa-download"></i> Exporter au format FSGT</a>
            </li>
            <li>
                <a href="{{path('club_import', {id: club.id})}}"><i class="fa fa-upload"></i> Importer au format FSGT</a>
            </li>
        </ul>

        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Validation</th>
                    <th>Certificat Médical</th>
                    <th>Paiement</th>
                    <th>Réduction</th>
                    <th>Activé</th>
                </tr>
            </thead>
            {% for user in club.users %}
                <tr>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% if user.state == 'new' %}
                            <i class="fa fa-envelope fa-lg" title="Inscrit à la mailing list"></i>
                        {% elseif user.state == 'in_waiting_list' %}
                            <i class="fa fa-hourglass fa-lg" title="Sur list d'attente"></i>
                        {% elseif user.state == 'in_lottery' and user.temporary_lottery_status == 'selected' %}
                            <i class="fa fa-star fa-lg" title="Gagnant"></i>
                        {% elseif user.state == 'in_lottery' and user.temporary_lottery_status == 'not_selected' %}
                            <i class="fa fa-star-o fa-lg" title="Perdant"></i>
                        {% elseif user.state == 'in_lottery' %}
                            <i class="fa fa-star-half-o fa-lg" title="Dans le tirage au sort"></i>
                        {% elseif user.state == 'waiting_certificate' or user.state == 'waiting_discount_document' %}
                            <i class="fa fa-file-pdf-o fa-lg" title="En attente de documents"></i>
                        {% elseif user.state == 'waiting_payment' %}
                            <i class="fa fa-credit-card fa-lg" title="En attente de paiement"></i>
                        {% elseif user.state == 'waiting_skill_check' %}
                            <i class="fa fa-mortar-board fa-lg" title="En attente de validation"></i>
                        {% elseif user.state == 'member' %}
                            <i class="fa fa-user fa-lg" title="Membre"></i>
                        {% else %}
                            {{ user.state | trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.skill_checked %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <a href="{{path('set_skill_checked', {id: club.id, user_id: user.id})}}">
                                <button class="btn btn-primary">valider</button>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.medicalCertificateName %}
                            <a href="{{ vich_uploader_asset(user, 'medicalCertificateFile') }}">à jour</a>
                        {% endif %}
                    </td>
                    <td>
                        {{user.payment_status}}
                    </td>
                    <td>
                        {% if user.has_discount %}
                            {% if user.discountDocumentName %}
                                <a href="{{ vich_uploader_asset(user, 'discountDocumentFile') }}">justificatif</a>
                            {% else %}
                                Pas de document
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-{{ user.enabled ? 'check' : 'close' }}"></i>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
