{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{path('homepage')}}"><h2>{{club.name}}</h2></a>

        <div class="alert">
            <button disabled class="btn btn-outline-{% if club.status == 'lottery_open' %}success{%else%}danger{%endif%}">{{club.status|trans}}</button>
            <p>Lors du tirage au sort, {{club.maxWinners}} personnes seront sélectionnées</p>
        </div>
        
        <div class="alert">
            <a href="{{path('open_lottery', {id: club.id})}}"><button class="btn btn-primary">Ouvrir le tirage au sort</button></a>
            <a href="{{path('test_lottery', {id: club.id})}}"><button class="btn btn-primary" {% if not users_in_lottery %} disabled {% endif %}>Tester le tirage au sort</button></a>
            <a href="{{path('finish_lottery', {id: club.id})}}"><button class="btn btn-primary" {% if not lottery_ready %} disabled {% endif %}>Valider le tirage au sort</button></a>
            <a href="{{path('re_registration', {id: club.id})}}"><button class="btn btn-primary">Lancer les réinscriptions</button></a>
        </div>
        
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Validation</th>
                    <th>Certificat Médical</th>
                    <th>Paiement</th>
                    <th>Activé</th>
                    <th>Reset</th>
                </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td class="table-{% if user.status == 'in_lottery' %}{{ ('bootstrap.' ~ user.temporary_lottery_status) | trans }}{%else%}{{ ('bootstrap.' ~ user.status) | trans }}{%endif%}">
                        {{ user.status | trans }}
                    </td>
                    <td>
                        {% if user.skill_checked %}
                            Validé(e)
                        {% else %}
                            <a href="{{path('set_skill_checked', {id: club.id, user_id: user.id})}}">
                                <button class="btn btn-success" style="width: 100%;">Marquer comme Validé(e)</button>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.medicalCertificateName %}
                            <a href="{{ vich_uploader_asset(user, 'medicalCertificateFile') }}">à jour</a>
                        {% endif %}
                    </td>
                    <td>
                        {{user.payment_status}}
                    </td>
                    <td>
                        {{ user.enabled ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        <a href="{{path('reset_user', {id: club.id, user_id: user.id})}}">
                            <button class="btn" style="width: 100%;">Reset</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock %}
