{% extends 'base.html.twig' %}

{% block body %}

<div class="container alert alert-info" style="width:500px; margin-top: 50px">
{% block content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
        <div class="form-group">
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="email" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="_password" required="required" placeholder="mot de passe" class="form-control"/>
        </div>

<!--    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> -->
<!--    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label> -->
<div class="form-group">
  <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary"/>
</div>
</form>

<div>
  <a href="{{path('fos_user_registration_register')}}">Pas encore inscrit ?</a>
</div>


{% endblock %}
</div>
{% endblock %}
