{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
     body {
         padding-top: 50px;
     }
    </style>
{% endblock %}

{% block body %}

    <div class="container pop form-signin">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="email" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" required="required" placeholder="mot de passe" class="form-control"/>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me" value="on"/> Se souvenir de moi
                </label>
            </div>

            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary btn-lg btn-block"/>
            </div>
            <a href="{{path('fos_user_registration_register')}}" id="">S'inscrire</a>
            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
        </form>

    </div>
{% endblock %}
